/* start globle feature */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--main-color);
}

:root {
    /* colors  */
    --white: #FFF;
    --off-white: #FDFDFE;
    --light-gray: #F3F4F6;
    --lighter-gray: #F1F2F4;
    --main-color: #f8fafc;
    --black: #000;
    --semi-black: #151C2C;
    --purple: #7720ED;
    --border-purple: #8E51FF;
    --sub-purple: #7c3aed;
    --light-purple: #4f46e5;
    --lighter-purple: #E2D8FE;
    --purple-shadow: #8d54ff40;
    --main-gray: #717988;
    --sub-gray: #6a7282;
    --search-icon: #99A1AF;
    --mid-gray: #f6f3f4;
    --border-gray: #E5E7EB;
    --dark-gray: #364153;
    --darken-gray: #4A5565;
    --no-contact: #D1D5DC;
    --inp-color: #F9FAFB;

    /* font size  */
    --fs-xxs: 10px;
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 21px;
    --fs-xxl: 28px;
    --fs-3xl: 36px;

    /* gradient and shadow */
    --blue-gradient: linear-gradient(to bottom right, #3080ff, #2563eb);
    --blue-shadow: 0 10px 15px -3px #3080ff40,
        0 4px 6px -4px #3080ff40;

    --orange-gradient: linear-gradient(to bottom right, #fbbf24, #f97316);
    --orange-shadow: 0 10px 15px -3px #f99c0040,
        0 4px 6px -4px #f99c0040;

    --red-gradient: linear-gradient(to bottom right, #ff2357, #dc2626);
    --red-shadow: 0 10px 15px -3px #ff235740,
        0 4px 6px -4px #ff235740;

    --yellow-gradient: linear-gradient(to right, #fefce8, #fff7ed);
    --pink-gradient: linear-gradient(to right, #fff1f2, #fef2f2);

}

.fs-xxs {
    font-size: var(--fs-xxs);
}

.fs-xs {
    font-size: var(--fs-xs);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-xxl {
    font-size: var(--fs-xxl);
}

.fs-3xl {
    font-size: var(--fs-3xl);
}

.main-shadow {
    box-shadow: 0px -15px 20px 1px var(--black);
}

.white {
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
}

.off-white {
    background-color: var(--off-white);
}

.semi-black {
    color: var(--semi-black);
}

.purple {
    color: var(--purple);
}

.main-gray {
    color: var(--main-gray);
}

.sub-gray {
    color: var(--sub-gray);
}

.dark-gray {
    color: var(--dark-gray);
}

/* end globle feature */


/* start Navbar */

header {
    border-bottom: 2px solid var(--lighter-gray);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.logo-icon {
    background: linear-gradient(to bottom right, var(--sub-purple), var(--light-purple));
    box-shadow:
        0 10px 15px -3px var(--purple-shadow),
        0 4px 6px -4px var(--purple-shadow);
    border-radius: 12px;
    width: 44px;
    height: 44px;
}

.add-btn {
    padding: 10px 20px;
    gap: 8px;
    background: linear-gradient(to right,
            var(--sub-purple),
            var(--light-purple));
    transition: all 0.2s ease;
}

.add-btn:hover {
    box-shadow:
        0 10px 15px -3px var(--purple-shadow),
        0 4px 6px -4px var(--purple-shadow);
    transform: translateY(-2px);
}

.add-btn span {
    white-space: nowrap;
}

.nav-icon {
    width: 40px;
    height: 40px;
    color: var(--sub-gray);
    cursor: pointer;
    transition: all 0.2s ease;
}

.nav-icon:hover {
    color: var(--dark-gray);
    background-color: var(--light-gray);
}

.user-img-container {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid var(--light-gray);
}

.user-img-container img {
    border-radius: 12px;
}

/* end Navbar */


/* start state section */

main {
    padding: 120px 24px 32px;
}

.state-section {
    margin-bottom: 32px;
}

.cards {
    height: 100%;
    border: 1px solid var(--light-gray);
    box-shadow:
        0 1px 3px #0000001a,
        0 1px 2px #0000000f;
    transition: box-shadow 0.15s ease;
}

.cards:hover {
    box-shadow:
        0 4px 6px -1px #0000001a,
        0 2px 4px -2px #0000001a;
}

.state-icon {
    width: 48px;
    height: 48px;
}

.total-icon {
    background: var(--blue-gradient);
    box-shadow: var(--blue-shadow);
}

.favorites-icon {
    background: var(--orange-gradient);
    box-shadow: var(--orange-shadow);
}

.emergency-icon {
    background: var(--red-gradient);
    box-shadow: var(--red-shadow);
}

/* end state section */

/* start header contact section */

.search-bar {
    padding: 14px 16px 14px 44px;
}

.input-style {
    color: var(--dark-gray);
    outline: none;
    border: 1px solid var(--border-gray);
    transition: border 0.2s;
}

.input-style:focus {
    border-color: var(--border-purple);
    outline: 3px solid var(--lighter-purple);
}

.search-icon {
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--search-icon);
}

/* end header contact section */


/* start display contact */

.no-contact {
    padding-block: 80px;
}

.no-contact-icon {
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 16px;
    background-color: var(--light-gray);
    color: var(--no-contact);
}

.no-text {
    color: var(--search-icon);
}

/* end display contact */


/* start aside  */

.category-card {
    border: 1px solid var(--light-gray);
    box-shadow:
        0 1px 3px #0000001a,
        0 1px 2px #0000000f;
}

.category-container {
    padding: 16px 20px;
    border-bottom: 1px solid var(--light-gray);
}

.fav-container {
    background: var(--yellow-gradient);
}

.emp-container {
    background: var(--pink-gradient);
}

.category-container i {
    width: 32px;
    height: 32px;
}

.no-category {
    text-align: center;
    padding-block: 32px;
}

/* end aside  */


/* start form section */

.form-section {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(4px);
    z-index: 2;
}

.contact-form {
    width: 512px;
    max-width: 512px;
    height: 90vh;
    max-height: 90vh;
}

.form-header {
    border-bottom: 1px solid var(--light-gray);
}

.x-btn {
    background-color: transparent;
    width: 36px;
    height: 36px;
    transition: 0.2s;
    color: var(--search-icon);
}

.x-btn:hover {
    background-color: var(--light-gray);
    color: var(--darken-gray);
}

.form-body {
    padding: 20px;
    overflow-y: auto;
    max-height: calc(90vh - 80px);
    scrollbar-width: none;
    overflow: auto;
}

.phone-img {
    width: 96px;
    height: 96px;
    background: var(--blue-gradient);
}

.chose-contact {
    background-color: var(--mid-gray);
    cursor: pointer;
    transition: 0.2s;
}

form-btn .chose-contact:hover {
    background-color: var(--border-gray);
}

.form-inp {
    padding: 12px 16px;
    background-color: var(--inp-color);
    color: var(--semi-black);
}

.form-inp:focus {
    background-color: var(--white);
}

.group-select {
    appearance: none;
}

textarea {
    resize: none;
    height: 65.6px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.save-btn {
    gap: 8px;
    background: linear-gradient(to right,
            var(--sub-purple),
            var(--light-purple));
    transition: all 0.2s ease;
}

.save-btn:hover {
    box-shadow:
        0 10px 15px -3px var(--purple-shadow),
        0 4px 6px -4px var(--purple-shadow);
}

.categ-label {
    transition: 0.2s;
}

.categ-label:hover label {
    color: var(--semi-black);
}

.heart {
    color: #FF2056;
}

.cancel-btn {
    background-color: var(--light-gray);
    transition: 0.2s;
}

.cancel-btn:hover {
    background-color: var(--border-gray);
}

.form-btn {
    padding: 12px 20px;
    font-size: 14px;
}

/* end form section */


/* media */

/* xs */
@media screen and (max-width:576px) {
    .logo-icon {
        width: 40px;
        height: 40px;
    }

    .add-btn {
        padding-inline: 16px;
    }

    .user-img-container {
        width: 36px;
        height: 36px;
    }

    .state-icon {
        width: 44px;
        height: 44px;
    }

}

/* sm */
@media screen and (min-width:576px) {}

/* md */
@media screen and (min-width:768px) {}

/* lg */
@media screen and (min-width:992px) {}

/* xl */
@media screen and (min-width:1200px) {
    :root {
        --fs-xxs: 12px;
        --fs-xs: 14px;
        --fs-sm: 16px;
        --fs-md: 18px;
        --fs-lg: 20px;
        --fs-xl: 24px;
        --fs-xxl: 32px;
        --fs-3xl: 48px;
    }

    .category-container i {
        width: 36px;
        height: 36px;
    }
}